
#navbar{
    
    flex-direction: column;
    padding: 0.5rem 1 rem;
    overflow: hidden;
    height: 80px;
    align-items: center;
}
#about .items{
    flex-direction: column;
}
#about .items .item{
    width: 100%;
}
font{
   font-size: 1rem ;
   padding-top: 0.25rem;
}
span{
    font-size: 0.50;
    letter-spacing: 1px;
    
}
#navbarMenu{
   width: 100%;
}
main{
    width: 100%;
}